<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdminReplicService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.13.159:3042/AdminReplicService_Project2"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminReplicService"
                contract="adminReplicControlServiceReference.IAdminReplicService"
                name="BasicHttpBinding_IAdminReplicService"   />
        </client>
    </system.serviceModel>
</configuration>